@media only screen and (min-width: 992px) {
  .boxes {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
  }

  .goal .card {
    margin: 10px 10px 0 10px;
    height: 100%;
  }

  .team .card {
    margin: 10px 10px 0 10px;
    height: 100%;
  }

  .primary .card {
    margin: 10px 10px 0 10px;
    height: 100%;
  }

  .scope .card {
    margin: 10px 10px 0 10px;
    height: 100%;
  }

  .timeline .card {
    margin: 10px 10px 0 10px;
    height: 100%;
  }

  .goal {
    grid-row: 1 / 2;
  }

  .scope {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
  }

  .team {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
  }

  .primary {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
  }

  .timeline {
    grid-column: 3 / 4;
    grid-row: 1 / 3;
  }

  .time-number {
    display: grid;
    grid-template-columns: 1fr 3fr;
  }
}
